# ignore the following patterns
*.jl.cov
*.vtk
*.dat
*.csv
*.vtu
*.pvtu
*.swp
*.png
!docs/src/assets/*.png
*.DS_Store
docs/build/
data/
docs/site/
*.jl.*.cov
*.jl.mem
deps/deps.jl
Manifest.toml
*.vscode*
